*.iml
.externalNativeBuild
.gradle
.idea
.DS_Store
local.properties
/captures
build/*
!EAMXCommonUtils/src/main/java/mx/arquidiocesis/eamxcommonutils/retrofit/build/RetrofitApp.kt
gradlew.bat
release
Gemfile.lock
fastlane/report.xml
/app/google-services.json
